* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.stars {
    position: absolute;
    z-index: -1;
}

.hills {
    position: fixed;
    bottom: 0;
}
body {
    font-family: 'Red Hat Text', sans-serif;
    background-color: hsl(235, 16%, 14%);
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/*CONTAINER SECTION*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

/*COUNTDOWN*/
.countdown {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.countdown div {
    padding: 10px;
}

.container h1 {
    color: #fff;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.countdown p {
    padding: 10px;
    background-color: hsl(236, 21%, 26%);
    font-size: 45px;
    color: hsl(345, 95%, 68%);
    border-radius: 5px;    
}

.countdown h3 {
    color: #fff;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 10px;
}
/*END CONTAINER SECTION*/



.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: #fff;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*SOCIAL MEDIA*/
.social {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.social h2 {
    text-align: center;
    color: white;
    margin-bottom: 15px;
    opacity: 0.5;
    
}

#profile-link {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    opacity: 0.5;
}

.social ul {
    display: flex;
}

.social ul li {
    margin: 0 20px;
}
/*END SOCIAL MEDIA */

/*MEDIA QUERY*/

@media (min-width: 1440px) {
    .stars img,
    .hills img {
        width: 1600px;
    }

}

@media (min-width: 1600px) {
    .stars img,
    .hills img {
        width: 1920px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .container h1 {
        font-size: 16px;
    }

    .social h2 {
        color: white;
        font-size: 14px;
        opacity: 1;
    }

    #profile-link {
        font-size: 25px;
        color: #fff;
        opacity: 1;
    }

    .social {
        margin-bottom: 50px;
    }
}



